html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar, html *::-webkit-scrollbar{
  width: .5em;
  height: .5em;
}

html::-webkit-scrollbar-thumb, html *::-webkit-scrollbar-thumb{
  margin-top: 100px;
  background: #fff8b7;
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
}

html::-webkit-scrollbar-track, html *::-webkit-scrollbar-track{
  margin-top: 8px;
  margin-bottom: 8px;
}